
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* a:hover{
    text-decoration: underline;
} */

button {
  cursor: pointer;
}


.nav__container{
    padding: 24px, 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
  padding: 60px 0;
  width: 100%;
  /* background-color: lightyellow; */
}
.container2 {
  padding: 60px 0;
  width: 100%;
  background-color: lightgray;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

#logo{
    height: 150px;
    padding-top: 12px;
}

.purple{
    color: #6030b1;
}

/* 

  NAVIGATION 
  
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 150px;
}

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 24px;
    font-size: 24px;
    color: white;
}

.nav__link--primary{
    background-color: white;
    padding: 10px 32px;
    color: #6030b1;
    border-radius: 999px;
    text-decoration: none;

}

.nav__link--primary:hover{
    background-color:#ff328f;
}


.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 400ms ease;
    background-color: white;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}


/* 

  LANDING 
  
*/

.header__container{
    margin: 96px 0;
    background-color: lightblue;
}

.title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 48px;
    color: white;
}

.sub-title{
    text-align: center;
    margin-bottom: 72px;
}

.search__wrapper{
    height: 70px;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    background-color: white;
    border-radius: 500px;
    margin: 0 auto;
}

.fa-solid{
    color: #6030b1;
    font-size: 32px;
}

.search__input{
    background-color: white;
    border: 0px solid black;
    border-radius: 500px;
    color: #0a1f44;
    outline: none;
    width: 100%;
    font-size: 20px;
    padding: 0 15px;
}

.search__btn{
    background-color: white;
    margin-left: 20px;
    height: 100%;
    border-radius: 20px;
    border: none;
    /* color: #6030b1; */
}

.fa-solid:hover{
    color: #ff328f;
    /* box-shadow: 7px 7px 14px rgba(134, 93, 204, 0.3) */
}

.overlay {
    background-image: url(./Assets/eric-terrade-hCDI6sPTjRY-unsplash3.jpg);
    background-size: cover;
    /* background-position: 100%; */
    background-repeat: no-repeat;
    position: absolute;
    background-attachment:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 500px;
    z-index: -1;
   
}

.overlay:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 25, 71, .83);
}

.filter-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.search{
    display: flex;
    align-items: baseline;
}

.search-info{
    margin-right: 10px;
}

.searchName{
    color: purple;
    text-transform: uppercase;
}

select {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #dcdfe6;
  color: #0a1f44;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: calc(100% / 3);
    padding: 24px;
}

.movie__img{
    max-height: 510px;
    width: 100%;
    transition: all 300ms ease;
    border-radius: 4px;
    /* object-fit: contain;
    object-position: left; */
}

.movie__title,
.movie__year,
.movie__btn {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 8px;
}

.movie__title{
    text-align: center;
}
.movie__title:hover{
    text-decoration: underline;
    cursor: not-allowed;
}

.movie:hover .movie__img{
    transform: scale(1.02);
}

.movie__btn{
    background-color: #6030b1;
    padding: 10px 32px;
    color: white;
    border-radius: 999px;
    text-decoration: none;
    margin: 8px auto;
}

.movie__btn:hover{
    background-color:#5d3eff;
    cursor: not-allowed;
}
