
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}


button {
  cursor: pointer;
}

.nav__container{
    padding: 24px, 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

#logo{
    height: 150px;
    padding-top: 10px;
}

.purple{
    color: #6030b1;
}

/* 

  NAVIGATION 
  
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 150px;
}

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 24px;
    font-size: 24px;
}

.nav__link--primary{
    background-color: #6030b1;
    padding: 10px 32px;
    color: white;
    border-radius: 999px;
    text-decoration: none;
    cursor: not-allowed;
}

.nav__link--primary:hover{
    background-color:#5d3eff;
}


.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 400ms ease;
    background-color: #6030b1;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}


/* 

  LANDING 
  
*/
.container {
  padding: 50px 0;
  width: 100%;
}


.title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 48px;
}

.sub-title{
    text-align: center;
    margin-bottom: 72px;
}

.search__wrapper{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
  
}

.fa-solid{
    color: white;
    font-size: 32px;
}

.search__input{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    color: #0a1f44;
    outline: none;
    width: 100%;
    font-size: 20px;
    padding: 0 15px;
}

.search__btn{
    width: 200px;
    margin-left: 20px;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: #6030b1;
}

.search__btn:hover{
    background-color: #ff328f;
    box-shadow: 7px 7px 14px rgba(134, 93, 204, 0.3)
}

.main-photo{
    display: flex;
    width: 100%;
    margin: 120px 10px;
}

.footer__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    font-size: 18px;
}

@media (max-width: 768px) {
  
  h1 {
    font-size: 24px;
  }

  .nav__link--primary {
    display: none; 
  }

  .search__wrapper {
    flex-direction: column;
    text-align: center;
    padding 16px;
    height: 200px;
  }

  .search__input {
    height: 70px;
    margin-bottom: 16px;
  }
  .search__btn {
    width: 100%;
    height: 48px;
    padding-top: 8px;
    margin: 0 auto;
  }
}
/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .nav__link--list{
    flex-direction: column;
    align-items: center;
    line-height: 2;

}
  .nav__link {
    font-size: 24px;
  }

}